name: Ruff
on: [push, pull_request]
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # This runs the linter
      - uses: chartboost/ruff-action@v1
      # This does the formatting check
      - uses: chartboost/ruff-action@v1
        with:
          args: format --diff
